<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shibai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,189}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,136}</string>
                <key>spriteSourceSize</key>
                <string>{721,136}</string>
                <key>textureRect</key>
                <string>{{1,191},{721,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,189}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{182,1},{180,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shibai3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,189}</string>
                <key>spriteSourceSize</key>
                <string>{180,189}</string>
                <key>textureRect</key>
                <string>{{363,1},{180,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>failed.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cae64451aaaaee395b9354baf7cea3a:0a62a218671e125cac199fe0146c318d:f03aaed22cd21a37730fee593d4deed5$</string>
            <key>textureFileName</key>
            <string>failed.png</string>
        </dict>
    </dict>
</plist>
